.movie {
    color: #888888;
}

.heading {
    display: flex;    
    height: 60vh;
}

.heading img {
    width: 20%;
    margin: 5vh 5vw;
}

.info {
    color: #000;
    padding-top: 5vh;
}

.info h3 {
    color: #888888;
}

.avg-rating, .user-rating {
    display: flex;
}

.avg-rating span, .user-rating span {
    margin: 10px 0 0 20px;
}

.movie > p {
    margin: 0 5vw;
    outline: 1px solid #00A0B5;
    padding: 1vh 1vw;
    background: #fff;
    border-radius: 15px;
}